{%  extends 'police/base.html' %}
{% block title %}
Police
{% endblock %}

{% block content %}
<style>
    #show_button{
 display: none
}
</style>
<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <form id="form">
                        {% csrf_token %}
                        <label for="image">Image:</label>
                        <input type="file" accept="image/*" name="image" id="image" onchange="loadFile(event)"/>
                        <br /> <br />
                        <img id="output"/>
                        <hr />
                        <br />
                        <input class="btn btn-success" id="match" value="Match">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="show_button">
            <div class="card">
                <div class="card-body">
                    <div >
                    <img src="" id="frame">
                    </div>
                
                </div>
            </div>
        </div>
        <div class="col" id="show_button">
            <div class="card">
                <div class="card-body">
                    <div >
                    
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

<script type="text/javascript">
    var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };

  $('#match').click(function() {
            var data = new FormData();
            data.append('file', $('#image')[0].files[0]);
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            console.log(data);
            var imgname  =  $('input[type=file]').val();
            var ext =  imgname.substr( (imgname.lastIndexOf('.') +1) );
            if(!ext || ext=='jpg' || ext=='jpeg' || ext=='png' || ext=='gif' || ext=='PNG' || ext=='JPG' || ext=='JPEG') {
                $.ajax({
                    'url': 'http://127.0.0.1:8000/police/api/match/',
                    'type': 'POST',
                    'data': data,
                    'async': true,
                    'cache': false,
                    'processData': false,
                    'contentType': false,
                    'enctype': 'multipart/form-data',
                    'success': function(data) {
                        console.log(data);
                        // document.getElementById('frame').src = 'data:image/jpg;base64' + result;
                    }
                });   
            }
    });
</script>

{% endblock %}