<style>
    .hello-msg {
        font-size: 18px;
        color: #fff;
        margin-right: 30px;
    }
    .navbar {
      background: black;
    }
</style>
<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {{home_page}}" href="{% url 'police_home' %}"><span class="fa fa-home fa-lg"></span> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{records_page}}" href="{% url 'view_records' %}"><span class="fa fa-tasks fa-lg"></span> View Records</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{match_page}}" href="{% url 'match_face' %}"> Match Face</a>
        </li>
      </ul>
    </div> 

    <div>
    <!-- <span class="hello-msg" style="font-weight:bold;">Hi, {{fname}}<i class="fa fa-emergency"></i></span> -->
    <span class="hello-msg" ><a href="{% url 'profile' %}"><i class="fa fa-edit"></i></a></span>
    <span><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a></span>
    </div>
  </div>
</nav>
{% if messages %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show d-flex justify-content-center text-center" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
{% endfor %}
{% endif %}