{% extends 'citizen/base.html' %}

{% block title %}
Citizen | Appointment
{% endblock %}

{% block content %}
<style type="text/css">
    #uid, #firstname, #lastname,  #areacode, #telnum, #need{
        font-weight: bold;
    }
</style>

<div class="container">
	<div class="row row-content">
        <div class="col-12">
           	<h3>Appointment Request</h3>
           	<hr>
        </div>

        <div class="col-12 col-md-10">
            <form action="/appointment/" method="POST">
                {% csrf_token %}
            	<div class="form-group row">
                    <label for="uid" class="col-md-2 col-form-label">Aadhar Number</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="uid" name="uid" placeholder="Aadhar Number" readonly='readonly'>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" readonly='readonly'>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" readonly='readonly'>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="telnum" class="col-12 col-md-2 col-form-label">Contact Tel.</label>
                    <div class="col-5 col-md-3">
                        <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code" readonly='readonly'>
                    </div>
                    <div class="col-7 col-md-7">
                        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number" readonly='readonly'>
                    </div>
                </div>
                <div class="row">
                    <label for="whom" class="col-form-label col-12 col-md-2">Appoint With</label>
                    <div class="col-5 col-md-2">
                        <select class="form-control" name="whom">
                            <option>DGP</option>
                            <option>ADGP</option>
                            <option>IGP</option>
                            <option>DIGP</option>
                            <option>SP</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="description" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="description" name="description" rows="6"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Request</button>
                    </div>
                </div>

            </form>    
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function(){
  document.getElementById("firstname").value = "{{fname}}";
  document.getElementById("lastname").value = "{{lname}}";
  document.getElementById("uid").value = "{{user.uid}}";
  document.getElementById("areacode").value = "91+";
  document.getElementById("telnum").value = "{{user.phone}}";
}
</script>

{% endblock %}