<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>
    
    {% load crispy_forms_tags %}
    <div class="card card-body bg-light mb-3">
          <div class="card-header ">
           Email Verification
          </div>
          {% block verification %}
          <div class="card-body">
            <h5 class="card-title">Forgotten your password? </h5>
            <p class="card-text">Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <div style="width: 20rem;">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div> 
                </form>
            </div>
          </div>
          {% endblock verification %}
    </div>
</body>
</html>